* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.v-center{
    align-self: center;
}

.textbox {
    background-color: #ffffff;
    opacity: 0.85;
}

nav {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    height: 15vh;
    background-color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    /*padding: 20px 0;*/
    /*display: flex;
    flex-direction: row;
    justify-content: space-between; */

}

footer i {
    font-size: 160%;
    padding: 5%;
    color: #d91010;
}
